.score-list-container {
  justify-content: space-around;
}

.container {
  width: 50%;
  margin-bottom: 60px;
}

.score-list-container > div {
  margin-left: 10px;
  margin-right: 10px;
}

.list-group-item {
  justify-content: space-between;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    margin-bottom: 40px;
  }

  .score-list-container > div {
    margin-left: 4px;
    margin-right: 4px;
  }
}
