.score-list-container {
  justify-content: space-around;
}

.container {
  width: 50%;
  margin-bottom: 60px;
}

.score-list-container > div {
  margin-left: 10px;
  margin-right: 10px;
}

.list-group-item {
  justify-content: space-between;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    margin-bottom: 40px;
  }

  .score-list-container > div {
    margin-left: 4px;
    margin-right: 4px;
  }
}

.landing {
  background-image: url("https://img.freepik.com/premium-vector/playing-cards-glowing-blue-background_1394-1312.jpg?1");
  background-size: contain;
  height: 100vh;
  background-position: center center;
  opacity: 1;
}

.btn-light {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-150%);
  color: #fff;
  background-color: crimson;
}
